[[source]]
name = "add-module"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
cli = "python -m add_module"
test = "python -m pytest -v --approvaltests-add-reporter='C:\\Program Files\\KDiff3\\kdiff3.exe'"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
pytest = "*"
approvaltests = "*"
doubles = "*"
pytest-approvaltests = "*"

[packages]
add-module = {editable = true, path = "."}
pyinquirer = "*"

[requires]
python_version = "3.8"
