[[source]]
name = "{{cookiecutter.project_name}}"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
start = "run.bat"
freeze = "pip freeze"
test = "python -m pytest -v --approvaltests-add-reporter='C:\\Program Files\\KDiff3\\kdiff3.exe'"

[dev-packages]
autopep8 = "*"
rope = "*"
pytest = "*"
approvaltests = "*"
doubles = "*"
pytest-approvaltests = "*"
pylint = "*"

[packages]
flask = "*"
{{cookiecutter.project_name}} = {editable = true, path = "."}

[requires]
python_version = "3.8"
